# Database
DATABASE_URL="postgresql://user:password@host:5432/chaduvkondi?schema=public"

# Auth
JWT_SECRET="your-super-secret-jwt-key-change-in-production-min-32-chars"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
